._1y4zhnvj {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 14px !important;
    line-height: 18px !important;
    font-weight: 600 !important;
    border-radius: 8px !important;
    border: none !important;
    background: transparent !important;
    padding: 10px !important;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    margin-right: 6px !important;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s !important;
    position: relative !important;
    outline: none !important;
    color: rgb(34, 34, 34) !important;
    cursor: default !important;
}