.text-align-center{
  text-align: center;
}
ul {
    list-style-type: none;
}
.input-box{
  padding: 15px;
  width: 80%;
  height: 10%;
  margin: 10px;
}

.search-box{
  padding: 15px;
  width: 80%;
  margin: 10px;
}

.completed-btn{
  margin-left: 20px;
  text-underline-offset: inherit;
}